@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900,700,600,500,200,300,100);
$gray:#444;
$primary-light:#06e5a2;
$primary:#293770;//#0fbf87;
$primary-dark:#596662;
*{box-sizing: border-box;}
body,html{
  font-family: 'Raleway', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
html{
  position: relative;
  height: 100%;
  font-size: 16px;
}
p{
  font-size: 16px;
  line-height: 1.6;
}
footer{

  z-index: 355;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(#fff,.95);
  min-height: 60px;
  &:after{
    background-color: #fff;
    content: '';
    display: block;
    height: 100px;
    max-width: 250px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -30px;
    transform: skewY(15deg);
    z-index: -1;
  }
}
.dark{
  color: $primary-dark;
}
a{
  transition: .5s all ease;
}
.page{

  background-color: $primary;//#596662;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;

  &:before{
    content: '';
    opacity: .1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/blog-blue-network.PNG");
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .content{
    .logos{
      display: block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border: 2px solid rgba(#fff,.2);
      opacity: .8;
      &:hover{
        background-color: #fff;
        color: $primary;
        box-shadow: none;
        opacity: 1;
        transform: rotate(-10deg) scale(1.2);
      }
    }
    height: 50%;
    text-align: center;
    color: #fff;
    @media screen and (min-width:990px){
      width: 50%;
    }

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 55;
    h1{
      font-size: 80px;
      margin-top: auto;
      margin-bottom: auto;
      text-transform: uppercase;
      font-weight: 100;
      display: inline;
      transition: .5s all ease-out;
      /*     background-color: transparent;
      */      color: #fff;
      box-shadow:  10px 0px 0 transparent, -10px 0px 0  transparent;

      &:hover{

        background-color: #fff;
        color: $primary;
        box-shadow:  10px 0px 0 #fff, -10px 0px 0 #fff;

      }

    }
    h2{
      border-top: 1px solid  rgba(#fff,.1);
      padding-top: 30px;
      font-size: 38px;
      text-transform: capitalize;
      font-weight: 100;
      margin-top: 60px;
      display: block;
      &:after{
        top: -100px;
        display: block;
        width: 60px;
        height: 60px;
        content: '';
        position: absolute;
        animation: rev-rotate 2s infinite;

        animation-timing-function: linear;
        right: 0;
        left: 0;
        margin: auto;
        border: 1px solid rgba(#fff,.5);
      }
      &:before{
        top: -100px;
        display: block;
        width: 60px;
        height: 60px;
        content: '';
        position: absolute;
        animation: rotate 3s infinite;
        animation-timing-function: linear;
        right: 0;
        left: 0;
        margin: auto;
        border: 1px solid rgba(#fff,.5);
      }
    }
  }
}
a.more{
  cursor: pointer;
  display: block;
  height: 70px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: 2px solid rgba(#fff,.0);
  z-index: 5535;

  &:before{
    display: block;
    content: '';
    margin-bottom: 10px;
    opacity: .2;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
    border-right: 2px solid  #fff;
    border-bottom: 2px solid  #fff;
    transition: .5s all;

  }
  &:hover{
    border-color: rgba(#fff,.2);
    &:before{
      opacity: 1;
    }
  }
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes rev-rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}
.logo{
  font-size: 24px;
  font-weight: 900;
  line-height: 60px;
  text-decoration: none;
  color: $primary;
  padding: 0  0 0 15px ;
  transform: scale(1);
  display: block;
  float: left;
  position: relative;
  &:after{
    content: '';
    display: block;

    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    height: 0px;
    border-bottom: 1px dotted  $primary;
    //background-color: #0fbf87;
    transition: .5s all ease-in-out;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 15px;
  }
  &:before{
    display: block;
    position: absolute;
    height: auto;
    right: -50%;
    //transform: scale(0) rotateY(180deg);
    opacity: 0;
    padding: 10px;
    top: 15px;
    line-height: 1;
    color: $primary;
    border-left: 3px solid $primary;
    content: 'Join the future';
    font-size: 14px;
    transition: .5s all ease;
    font-weight: 300;
    font-weight: bold;
  }
  &:hover{
    line-height: 55px;
    margin-bottom: 5px;

    /*color: #f59;*/
    &:before{
      right: -90%;
      opacity: 1;
    }
    &:after{
      opacity: 1;

    }
  }
}
nav.menu{
  float: right;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      display: block;
      float: left;
      a{
        border-left: 1px solid rgba(#000,.1);
        padding: 10px 15px;
        display: block;
        line-height: 40px;
        color: $gray;
        text-decoration: none;
        &:hover{
          background-color: $primary;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
#dots{
  position: fixed;
  z-index: 555;
  right: 30px;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  height: 100px;
  .dot{
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(#fff,.5);
    border-radius: 99%;
    display: block;
    &.active{
      background-color: #fff;
    }
  }
}
.page2{
  background-color: #ea4e15;
  &:before{
    background-image: url("../images/blog-blue-network.PNG");
  }
}
